<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ImportGroup Label="PropertySheets" />
  <PropertyGroup Label="UserMacros">
    <XILIB_INCLUDE_DIR>f:\se\projects\cpp\xi\xilib\dev\root\0.3\src</XILIB_INCLUDE_DIR>
    <XILIB_DLIB_DIR>f:\se\projects\cpp\xi\xilib\dev\root\0.3\sol\vs12\output</XILIB_DLIB_DIR>
    <XILIB_RLIB_DIR>f:\se\projects\cpp\xi\xilib\dev\root\0.3\sol\vs12\output</XILIB_RLIB_DIR>
  </PropertyGroup>
  <PropertyGroup />
  <ItemDefinitionGroup />
  <ItemGroup>
    <BuildMacro Include="XILIB_INCLUDE_DIR">
      <Value>$(XILIB_INCLUDE_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
    <BuildMacro Include="XILIB_DLIB_DIR">
      <Value>$(XILIB_DLIB_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
    <BuildMacro Include="XILIB_RLIB_DIR">
      <Value>$(XILIB_RLIB_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
  </ItemGroup>
</Project>